*.xlsx
*.csv
*.bin
*.DS_Store
.idea
__pycache__/

references/re_2017_johann_et-al/
references/app_review_analysis/ICSME18-replication-package/
references/SentiStrengthCom.jar
review_mining/xls_output/

notebooks/.ipynb_checkpoints/

.vscode/

enlik_thesis.code-workspace

.ipynb_checkpoints/
sandbox/bert-topic-sentiment/model_files/bert-topic-sentiment-colab-final.bin
sandbox/bert-topic-sentiment/model_files/label_encoder.pkl
sandbox/bert-topic-sentiment/model_files/special_tokens_map.json
sandbox/bert-topic-sentiment/model_files/tokenizer_config.json
sandbox/bert-topic-sentiment/model_files/vocab.txt
sandbox/duyunshu-bert-sentiment-analysis/data/metacritic/train.tsv
sandbox/duyunshu-bert-sentiment-analysis/test.tsv
sandbox/faizalishah-appfeature_extraction-8e1f32259b4e/AG_Impact_Supervised_Learning_Model/embeddings/wikipedia_de/embeddings

sandbox/faizalishah-appfeature_extraction-8e1f32259b4e/SAFE_Replication/__pycache__/

sandbox/faizalishah-reviewanalysistool/app-recommendator-api/node_modules/

sandbox/faizalishah-reviewanalysistool/app-recommendator-web/node_modules/

sandbox/bert-topic-sentiment/model_files/original/bert-topic-sentiment-colab-final.bin
notebooks/stanford-postagger-full-2016-10-31/*
notebooks/libs/

mallet-2.0.8/
sandbox/netflix_app-jung-akim/bert_model/

notebooks/bert_model_all/

notebooks/bert_model_all_p2/

notebooks/bert_model/

sandbox/netflix_app-jung-akim/_bert_model/

notebooks/bert_model_all_p3/
