fastapi==0.59.0
ipykernel==5.5.5
ipython==7.24.0
ipywidgets==7.6.3
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-widgets==1.0.0
matplotlib==3.2.2
matplotlib-inline==0.1.2
nbconvert==5.6.1
numpy==1.19.5
pandas==1.0.5
pyenchant==3.2.0
PyYAML==5.4.1
regex==2021.4.4
scikit-learn==0.23.1
scipy==1.6.3
streamlit==0.64.0
tokenizers==0.8.1rc1
torch==1.8.1
tqdm==4.61.0
transformers==3.0.2
uvicorn==0.11.7