adjustText==0.7.3
gensim==3.8.3
ktrain==0.20.2
matplotlib==3.2.2
matplotlib-inline==0.1.2
nltk==3.6.2
numpy==1.19.2
pandas==1.1.0
pyLDAvis==3.2.2
PyYAML==5.4.1
regex==2021.4.4
scikit-learn==0.23.2
spacy==2.3.5
tensorflow==1.14
tokenizers==0.8.1.rc1
transformers==3.0.2
umap-learn==0.5.1
wordcloud==1.8.1